<!-- Formulario de Solicitud de Vi치tico -->
<div class="bg-gray-100 min-h-screen">
  <div class="bg-white p-8 rounded-2xl shadow-xl max-w-6xl mx-auto border border-gray-300">
    <form id="formularioViatico" action="/viaticos/crear" method="POST">
      <!-- Logo y t칤tulo -->
      <div class="text-center mb-6">
        <!-- <img src="/ruta-a-tu-logo.png" alt="Logo" class="mx-auto h-16 mb-2"> -->
        <h1 class="text-3xl font-bold text-gray-800">Solicitud de Vi치tico</h1>
      </div>

      <!-- Fecha, N칰mero de viaje y 츼rea Solicitante -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8">
        <div>
          <label class="block text-sm font-medium text-gray-700">Fecha</label>
          <input type="date" name="fechaDeCreacion" required class="w-full border px-2 py-1 rounded-lg text-sm">
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700">츼rea Solicitante</label>
          <input type="text" name="areaSolicitante" required class="w-full border px-2 py-1 rounded-lg text-sm">
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700">N춿 de Vi치tico</label>
          <input type="text" name="" value="" readonly placeholder="Autom치tico"
            class="w-full border px-2 py-1 rounded-lg bg-gray-100 text-sm">
        </div>
      </div>

      <!-- Campo oculto para numeroDeViaje -->
      <input type="hidden" name="numeroDeViaje" value="<%= numeroDeViaje %>">
      <!-- Campo oculto para montoTotalViatico -->
      <input type="hidden" name="montoTotalViatico" id="montoTotalViaticoHidden">
      <!-- Campo oculto para pendienteDeRendicion -->
      <input type="hidden" name="pendienteDeRendicion" id="pendienteDeRendicionHidden">
      <!-- Campo oculto para devolucionEnEfectivo -->
      <input type="hidden" name="devolucionEnEfectivo" value="0">

      <div class="mb-6 w-1/4">
        <label class="block text-xs font-medium text-gray-600">Cantidad de Viajantes</label>
        <select id="cantidadDeViajantes" name="cantidadDeViajantes" required
          class="w-full border px-2 py-1 rounded text-sm">
          <% for (let i=1; i <=5; i++) { %>
            <option value="<%= i %>">
              <%= i %>
            </option>
            <% } %>
        </select>
      </div>

      <!-- Tabla de viajantes -->
      <table class="w-full text-sm table-auto border-collapse">
        <thead class="bg-gray-100 text-left">
          <tr>
            <th class="border px-4 py-2">#</th>
            <th class="border px-4 py-2">Viajante</th>
            <th class="border px-4 py-2">Cargo</th>
            <th class="border px-4 py-2">Importe</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i=0; i < 5; i++) { %>
            <tr>
              <td class="border px-4 py-2">
                <%= i + 1 %>
              </td>
              <td class="border px-4 py-2">
                <select name="nombreSolicitante[<%= i %>]" id="viajante-<%= i %>"
                  class="w-full border px-2 py-1 rounded bg-gray-100 text-sm viajante-select" data-index="<%= i %>">
                  <option value="">Seleccionar persona</option>
                  <% listaDePersonasDisponibles.forEach(p=> { %>
                    <option value="<%= p.nombreApellido %>" data-cargo="<%= p.cargo %>">
                      <%= p.nombreApellido %>
                    </option>
                    <% }) %>
                </select>
              </td>
              <td class="border px-4 py-2">
                <input type="text" name="cargo[<%= i %>]" id="cargo-<%= i %>"
                  class="w-full border px-2 py-1 rounded text-sm" readonly>
              </td>
              <td class="border px-4 py-2">
                <div class="relative">
                  <span class="absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-600">$</span>
                  <input type="text" name="importeViatico[<%= i %>]" id="importeViatico-<%= i %>"
                    class="w-full border pl-6 pr-2 py-1 rounded importe text-sm" inputmode="decimal" placeholder="0,00">
                </div>
              </td>
            </tr>
            <% } %>
              <tr class="bg-gray-100 font-semibold">
                <td colspan="3" class="px-4 py-2 text-right" name="montoTotalViatico" id="montoTotalViatico">Total de
                  Vi치ticos</td>
                <td class="px-4 py-2 text-left">
                  <span>$</span><span id="totalViatico">0,00</span>
                </td>
              </tr>

        </tbody>
      </table>



      <!-- Origen, Destino, Motivo -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-6">
        <div>
          <label class="block text-sm font-medium text-gray-700">Fecha Salida</label>
          <input type="date" name="fechaDeSalida" required class="w-full border px-2 py-1 rounded-lg text-sm">
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700">Fecha Llegada</label>
          <input type="date" name="fechaDellegada" required class="w-full border px-2 py-1 rounded-lg text-sm">
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700">Origen</label>
          <input type="text" name="origen" required class="w-full border px-3 py-2 rounded-lg">
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700">Destino</label>
          <input type="text" name="destino" required class="w-full border px-3 py-2 rounded-lg">
        </div>
      </div>
      <div class="mt-4">
        <label class="block text-sm font-medium text-gray-700">Motivo del Viaje</label>
        <input type="text" name="motivoDelViaje" required class="w-full border px-3 py-2 rounded-lg">
      </div>
      <div class="mt-4">
        <label class="block text-sm font-medium text-gray-700">Vehiculo Utilizado</label>
        <input type="text" name="vehiculoUtilizado" required class="w-full border px-3 py-2 rounded-lg">
      </div>

      <!-- Adicional, Pendiente y Rendido -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-6">
        <div>
          <label class="block text-sm font-medium text-gray-700">Adicional en Efectivo</label>
          <div class="relative">
            <span class="absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-600">$</span>
            <input type="text" id="adicionalEnEfectivo" name="adicionalEnEfectivo"
              class="w-full border pl-6 pr-2 py-2 rounded text-sm" placeholder="0,00">
          </div>
        </div>

        <div>
          <label class="block text-sm font-medium text-gray-700 text-red-600 font-semibold">Pendiente de
            Rendici칩n</label>
          <div class="relative">
            <span class="absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-600">$</span>
            <input type="text" id="pendienteDeRendicion" name="pendienteDeRendicion" readonly
              class="w-full border pl-6 pr-2 py-2 rounded bg-gray-100 text-sm font-semibold text-red-600">
          </div>
        </div>

        <div>
          <label class="block text-sm font-medium text-gray-700">Rendido</label>
          <div class="relative">
            <span class="absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-600">$</span>
            <input type="text" id="devolucionEnEfectivo" name="devolucionEnEfectivo" 
              class="w-full border pl-6 pr-2 py-2 rounded text-sm" placeholder="0,00">
          </div>
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700">Total a Recibir</label>
          <div class="relative">
            <span class="absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-600">$</span>
            <input type="text" id="totalARecibir" name="totalARecibir" readonly
              class="w-full border pl-6 pr-2 py-2 rounded text-sm bg-gray-100 font-semibold text-blue-800"
              placeholder="0,00">
          </div>
        </div>
      </div>



      <!-- Checkbox y Campos para Vales de Combustible -->
      <div class="mt-6">
        <label class="inline-flex items-center">
          <input type="checkbox" id="valesCombustible" name="valesCombustible" class="form-checkbox text-blue-600">
          <span class="ml-2 text-sm text-gray-700">Incluir Vales de Combustible</span>
        </label>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4" id="camposVales" style="display: none;">
        <div>
          <label class="block text-sm font-medium text-gray-700">Cantidad de Vales</label>
          <input type="number" name="cantidadVale" id="cantidadVale" min="0" class="w-full border px-3 py-2 rounded">
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700">Valor de Vales</label>
          <div class="relative">
            <span class="absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-600">$</span>
            <input type="text" id="valorVale" name="valorVale" class="w-full border pl-6 pr-2 py-2 rounded text-sm"
              placeholder="0,00">
          </div>
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700">Total de Vales</label>
          <div class="relative">
            <span class="absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-600">$</span>
            <input type="text" id="totalVale" name="totalVale" class="w-full border pl-6 pr-2 py-2 rounded text-sm" readonly
              placeholder="0,00">
          </div>
        </div>
      </div>

      <!-- Bot칩n para generar vi치tico -->
      <div class="text-center pt-8">
        <button type="submit"
          class="bg-blue-600 hover:bg-blue-700 text-white font-semibold px-8 py-2 rounded-lg shadow-lg transition">
          Generar Vi치tico
        </button>
      </div>
    </form>
  </div>

  <script src="/scripts/scriptViaticos.js"></script>
  <script>
    document.getElementById("formularioViatico").addEventListener("submit", function (e) {
      const confirmacion = confirm("游닇 Por favor, revisa todos los datos ingresados.\nUna vez generado el vi치tico no podr치s editarlo.\n쮻eseas continuar?");
      if (!confirmacion) {
        e.preventDefault(); // Cancela el env칤o si el usuario elige "Cancelar"
      }
    });
  </script>
  