<div class="max-w-md mx-auto mt-10 bg-white p-6 rounded-lg shadow">
  <h1 class="text-xl font-semibold mb-4">Registro de Usuario</h1>
  <form action="/registro" method="POST" class="space-y-4">
    <input type="text" name="nombre" placeholder="Nombre" required class="w-full p-2 border rounded"
      value="<%= usuario?.nombre || '' %>">
    <input type="text" name="apellido" placeholder="Apellido" required class="w-full p-2 border rounded"
      value="<%= usuario?.apellido || '' %>">
      <input type="number" name="dni" placeholder="Dni" required class="w-full p-2 border rounded"
      value="<%= usuario?.dni || '' %>">

    <input type="email" name="email" placeholder="Correo electrónico" required class="w-full p-2 border rounded"
      value="<%= usuario?.email || '' %>">

    <input type="password" name="password" placeholder="Contraseña" required class="w-full p-2 border rounded">

    <!-- <select name="rol" class="w-full p-2 border rounded">
      <option value="usuario" <%=usuario?.rol==='usuario' ? 'selected' : '' %>>Usuario</option>
      <option value="admin" <%=usuario?.rol==='admin' ? 'selected' : '' %>>Administrador</option>
    </select> -->

    <% if (errores && errores.length> 0) { %>
      <div class="text-red-600 text-sm">
        <ul>
          <% errores.forEach(e=> { %>
            <li><strong>
                <%= e.campo %>:
              </strong>
              <%= e.mensaje %>
            </li>
            <% }) %>
        </ul>
      </div>
      <% } %>

        <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-800">
          Registrar
        </button>
  </form>
</div>